:root {
  --text-color: white;
  --input-decoration-color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://images.unsplash.com/photo-1581488066648-56a585ab6767?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDI0NzB8MHwxfGFsbHx8fHx8fHx8fDE2NDE2NzUzMzU&ixlib=rb-1.2.1&q=85) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--text-color);
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  padding: 0 10px;
  text-shadow: 0px 0px 3px #474747;
  
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.weather {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}

.weather #loading {
  width: 150px;
}

.weather #weather-icon {
  width: 70px;
}

.weather-city {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: -10px;
}

.weather-temp {
  margin: 0;
  font-size: 2rem;
  margin-left: -10px;
}

.middle {
  text-align: center;
}

.time {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 7rem;
  margin-bottom: 0;
}

#quote {
  font-size: 1.6rem;
  margin-top: 5px;
  font-style: italic;
}

#author {
  font-size: 1rem;
}

.focus-task-div {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  text-align: unset;
}

.focus-task-div label {
  font-size: 2rem;
}

.focus-task-div input[type=text] {
  align-self: center;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--input-decoration-color);
  color: var(--text-color);
  font-size: 1.9rem;
  font-weight: 500;
  padding-top: 10px;
  width: 400px;
}

.focus-task-div input:focus {
  outline: none;
}

.focus-task-div input[type=checkbox] {
  margin-right: 1em;
}

label[for=focus-task] {
  position: relative;
}

.focus-task-div:hover + label {
  color: red;
}

#focus-task, label[for=focus-task] {
  cursor: pointer;
}

#focus-task:checked + label {
  text-decoration: line-through;
}

.focus-task-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.options-btn {
  /* Credit to Font Awesome for the ellipsis-h svg, which I modified the svg to make the image white rather than black. 
   See https://fontawesome.com/license for Font Awesome Free license. No endorsements were made from FA whatsoever */
  background: url('images/ellipsis-h-solid.svg') no-repeat center center;
  background-size: cover;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 40px;
}

.task-options {
  background-color: #252525;
  display: none;
  left: 45%;
  margin-top: 5px;
  position: absolute;
  /* visibility: hidden; */
  width: fit-content;
}

.task-options.show {
  display: block;
  /* visibility: visible; */
}

.task-options > button {
  background: transparent;
  border: 0;
  color: var(--text-color);
  display: block;
  font-size: 1.2rem;
  /* width: fit-content; */
}

.pomodoro-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodoro-div input {
  height: 5rem;
  border: 0;
  min-width: 20px;
  max-width: 100px;
  background-color: transparent;
  font-size: 5rem;
  color: var(--text-color);
  text-align: center;
}

.pomodoro-div p {
  font-size: 5rem;
}

.photographer a {
  color: var(--text-color);
  text-decoration: none;
}

.photographer a:hover,
.photographer a:focus {
  cursor: pointer;
  opacity: .75;
  text-decoration: underline;
}