:root {
  --text-color: white;
  --input-decoration-color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://images.unsplash.com/photo-1581488066648-56a585ab6767?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDI0NzB8MHwxfGFsbHx8fHx8fHx8fDE2NDE2NzUzMzU&ixlib=rb-1.2.1&q=85) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--text-color);
  font-family: 'Oxygen', sans-serif;
  font-size: 1.1rem;
  padding: 0 10px;
  text-shadow: 0px 0px 3px #474747;
  
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}

.weather #loading {
  width: 150px;
}

.weather #weather-icon {
  width: 70px;
}

.weather-city {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: -10px;
}

.weather-temp {
  margin: 0;
  font-size: 2rem;
  margin-left: -10px;
}

.middle {
  text-align: center;
}

.time {
  font-size: 7rem;
  margin-bottom: 0;
}

#quote {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  margin-top: 5px;
  font-style: italic;
}

#author {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.focus-task-div {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  text-align: unset;
}

.focus-task-div label {
  font-size: 2rem;
}

.focus-task-div input[type=text] {
  align-self: center;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--input-decoration-color);
  color: var(--text-color);
  font-size: 1.9rem;
  font-weight: 500;
  padding-top: 10px;
  width: 400px;
}

.focus-task-div input:focus {
  outline: none;
}

.focus-task-div input[type=checkbox] {
  margin-right: 1em;
}

.focus-task-div label {
  /* margin: 0; */
}

.photographer a {
  color: var(--text-color);
  text-decoration: none;
}

.photographer a:hover,
.photographer a:focus {
  cursor: pointer;
  opacity: .75;
  text-decoration: underline;
}