*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.1rem;
  padding: 0 10px;
  text-shadow: 0px 0px 3px #474747;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}

.weather > img {
  width: 70px;
}

.weather-city {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: -10px;
}

.weather-temp {
  margin: 0;
  font-size: 2rem;
  margin-left: -10px;
}

.middle {
  text-align: center;
}

.time {
  font-size: 4rem;
  margin-bottom: 0;
}

#quote {
  font-size: 1.3rem;
  margin-top: 5px;
}

#author {
  font-size: 1rem;
}

.photographer a {
  color: white;
  text-decoration: none;
}

.photographer a:hover,
.photographer a:focus {
  cursor: pointer;
  opacity: .75;
  text-decoration: underline;
}